In [1]:
import pandas as pd
import numpy as np
d_parser = lambda x: pd.datetime.strptime(x, '%d %B %Y')
f2 = pd.read_csv("ACLED_2000-01-01-2022-07-18-Eastern_Africa-Middle_Africa-Northern_Africa-Southern_Africa-Western_Africa.csv",
                parse_dates = ['event_date'], date_parser = d_parser)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3124696532.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  d_parser = lambda x: pd.datetime.strptime(x, '%d %B %Y')

In [5]:
#f2.sort_values(by = 'event_date', axis=0, ascending=True)
f2['month'] = f2['event_date'].dt.month
#f2.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\sggg.csv')

In [45]:
df2_L=f2.groupby(['country','location','event_date']).agg({'fatalities':['sum']})
df2_L.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\event.csv')
dfd = pd.read_csv('event.csv')
dfd.drop([0,1], axis=0, inplace=True)
dfd.rename(columns = {'Unnamed: 0':'country', 'Unnamed: 1' :'location', 'Unnamed: 2': 'event_date'}, inplace= True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_11472\3699924901.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dfd = pd.read_csv('event.csv')

In [15]:
df2_0=f2.groupby(['country','year','month']).agg({'fatalities':['sum']})
#df2_L=f2.groupby(['country','location','year','month']).agg({'fatalities':['sum']})
#df2_0.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ss.csv')
#df2_L.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\Loc.csv')

dd = pd.read_csv('ss.csv')
dd.drop([0,1], axis=0, inplace=True)
dd.rename(columns = {'Unnamed: 0':'country', 'Unnamed: 1' :'year', 'Unnamed: 2': 'month'}, inplace= True)
dd.country.unique()
dd

       country  year month fatalities
2      Algeria  2000     1        257
3      Algeria  2000     2        233
4      Algeria  2000     3         80
5      Algeria  2000     4         50
6      Algeria  2000     5         79
...        ...   ...   ...        ...
9354  eSwatini  2022     3          0
9355  eSwatini  2022     4          0
9356  eSwatini  2022     5          0
9357  eSwatini  2022     6          2
9358  eSwatini  2022     7          0

[9357 rows x 4 columns]

# locations

In [75]:
s = dfd[dfd['country']=='Angola']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb.csv')
b = pd.read_csv('bvb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Angola'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Angola.csv')

In [76]:
s = dfd[dfd['country']=='Algeria']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb1.csv')
b = pd.read_csv('bvb1.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Algeria'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Algeria.csv')

In [77]:
s = dfd[dfd['country']=='Benin']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb3.csv')
b = pd.read_csv('bvb3.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Benin'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Benin.csv')

In [78]:
s = dfd[dfd['country']=='Botswana']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb4.csv')
b = pd.read_csv('bvb4.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Botswana'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Botswana.csv')

In [79]:
s = dfd[dfd['country']=='Burkina Faso']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bv1b.csv')
b = pd.read_csv('bv1b.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Burkina_Faso'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Burkina Faso.csv')

In [80]:
s = dfd[dfd['country']=='Burundi']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb44.csv')
b = pd.read_csv('bvb44.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Burundi'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Burundi.csv')

In [81]:
s = dfd[dfd['country']=='Cameroon']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bv22b.csv')
b = pd.read_csv('bv22b.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Cameroon'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Cameroon.csv')

In [82]:
s = dfd[dfd['country']=='Cape Verde']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvbm.csv')
b = pd.read_csv('bvbm.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Cape_Verde'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Cape Verde.csv')

In [83]:
s = dfd[dfd['country']=='Central African Republic']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bv121b.csv')
b = pd.read_csv('bv121b.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Central_African_Republic'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Central_African_Republic.csv')

In [84]:
s = dfd[dfd['country']=='Chad']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb447.csv')
b = pd.read_csv('bvb447.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Chad'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Chad.csv')

In [85]:
s = dfd[dfd['country']=='Comoros']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvnb.csv')
b = pd.read_csv('bvnb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Comoros'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Comoros.csv')

In [86]:
s = dfd[dfd['country']=='Democratic Republic of Congo']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvb.csv')
b = pd.read_csv('bvb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Democratic Republic of Congo'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Democratic Republic of Congo.csv')

In [87]:
s = dfd[dfd['country']=='Djibouti']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bssvb.csv')
b = pd.read_csv('bssvb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Djibouti'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Djibouti.csv')

In [88]:
s = dfd[dfd['country']=='Egypt']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bb.csv')
b = pd.read_csv('bb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Egypt'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Egypt.csv')

In [89]:
s = dfd[dfd['country']=='Equatorial Guinea']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bvv.csv')
b = pd.read_csv('bvv.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Equatorial Guinea'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Equatorial Guinea.csv')

In [90]:
s = dfd[dfd['country']=='Eritrea']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\vvb.csv')
b = pd.read_csv('vvb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Eritrea'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Eritrea.csv')

In [91]:
s = dfd[dfd['country']=='Ethiopia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bpb.csv')
b = pd.read_csv('bpb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Ethiopia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Ethiopia.csv')

In [93]:
s = dfd[dfd['country']=='Gambia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ppp.csv')
b = pd.read_csv('ppp.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Gambia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Gambia.csv')

In [94]:
s = dfd[dfd['country']=='Ghana']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\bc.csv')
b = pd.read_csv('bc.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Ghana'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Ghana.csv')

In [95]:
s = dfd[dfd['country']=='Guinea']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\v.csv')
b = pd.read_csv('v.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Guinea'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Guinea.csv')

In [96]:
s = dfd[dfd['country']=='Guinea-Bissau']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\11.csv')
b = pd.read_csv('11.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Guinea-Bissau'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Guinea-Bissau.csv')

In [97]:
s = dfd[dfd['country']=='Ivory Coast']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\12.csv')
b = pd.read_csv('12.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Ivory Coast'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Ivory Coast.csv')

In [98]:
s = dfd[dfd['country']=='Kenya']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\13.csv')
b = pd.read_csv('13.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Kenya'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Kenya.csv')

In [99]:
s = dfd[dfd['country']=='Lesotho']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\21.csv')
b = pd.read_csv('21.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Lesotho'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Lesotho.csv')

In [100]:
s = dfd[dfd['country']=='Liberia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\9.csv')
b = pd.read_csv('9.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Liberia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Liberia.csv')

In [101]:
s = dfd[dfd['country']=='Libya']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\10.csv')
b = pd.read_csv('10.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Libya'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Libya.csv')

In [102]:
s = dfd[dfd['country']=='Madagascar']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\7.csv')
b = pd.read_csv('7.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Madagascar'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Madagascar.csv')

In [103]:
s = dfd[dfd['country']=='Malawi']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\mn.csv')
b = pd.read_csv('mn.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Malawi'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Malawi.csv')

In [104]:
s = dfd[dfd['country']=='Mali']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\123.csv')
b = pd.read_csv('123.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Mali'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Mali.csv')

In [105]:
s = dfd[dfd['country']=='Mauritania']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\asd.csv')
b = pd.read_csv('asd.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Mauritania'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Mauritania.csv')

In [106]:
s = dfd[dfd['country']=='Mauritius']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\nb.csv')
b = pd.read_csv('nb.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Mauritius'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Mauritius.csv')

In [107]:
s = dfd[dfd['country']=='Mayotte']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\po.csv')
b = pd.read_csv('po.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Mayotte'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Mayotte.csv')

In [108]:
s = dfd[dfd['country']=='Morocco']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\az.csv')
b = pd.read_csv('az.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Morocco'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Morocco.csv')

In [111]:
s = dfd[dfd['country']=='Niger']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\444.csv')
b = pd.read_csv('444.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Niger'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Niger.csv')

In [110]:
s = dfd[dfd['country']=='Namibia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\qw.csv')
b = pd.read_csv('qw.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Namibia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Namibia.csv')

In [112]:
s = dfd[dfd['country']=='Nigeria']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\qq.csv')
b = pd.read_csv('qq.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Nigeria'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Nigeria.csv')

In [113]:
s = dfd[dfd['country']=='Republic of Congo']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\vc.csv')
b = pd.read_csv('vc.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Republic_of_Congo'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Republic of Congo.csv')

In [114]:
s = dfd[dfd['country']=='Rwanda']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\vy.csv')
b = pd.read_csv('vy.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Rwanda'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Rwanda.csv')

In [115]:
s = dfd[dfd['country']=='Senegal']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\v7.csv')
b = pd.read_csv('v7.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Senegal'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Senegal.csv')

In [116]:
s = dfd[dfd['country']=='Sierra Leone']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\v8.csv')
b = pd.read_csv('v8.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Sierra_Leone'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Sierra Leone.csv')

In [117]:
s = dfd[dfd['country']=='Somalia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\741.csv')
b = pd.read_csv('741.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Somalia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Somalia.csv')

In [118]:
s = dfd[dfd['country']=='South Africa']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\v12.csv')
b = pd.read_csv('v12.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='South_Africa'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\South Africa.csv')

In [119]:
s = dfd[dfd['country']=='South Sudan']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\vc.csv')
b = pd.read_csv('vc.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='South_Sudan'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\South_Sudan.csv')

In [120]:
s = dfd[dfd['country']=='Sudan']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\899.csv')
b = pd.read_csv('899.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Sudan'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Sudan.csv')

In [121]:
s = dfd[dfd['country']=='Tanzania']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\30.csv')
b = pd.read_csv('30.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Tanzania'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Tanzania.csv')

In [122]:
s = dfd[dfd['country']=='Togo']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\df.csv')
b = pd.read_csv('df.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Togo'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Togo.csv')

In [123]:
s = dfd[dfd['country']=='Tunisia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\xz.csv')
b = pd.read_csv('xz.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Tunisia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Tunisia.csv')

In [124]:
s = dfd[dfd['country']=='Uganda']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\op.csv')
b = pd.read_csv('op.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Uganda'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Uganda.csv')

In [125]:
s = dfd[dfd['country']=='Zambia']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\02.csv')
b = pd.read_csv('02.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Zambia'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Zambia.csv')

In [126]:
s = dfd[dfd['country']=='Zimbabwe']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\007.csv')
b = pd.read_csv('007.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='Zimbabwe'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\Zimbabwe.csv')

In [127]:
s = dfd[dfd['country']=='eSwatini']
r=s.groupby(['event_date', 'location']).agg({'fatalities':['sum']})
r.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\za.csv')
b = pd.read_csv('za.csv')
b.drop([0,1], axis=0, inplace=True)
b.rename(columns = {'Unnamed: 0':'date', 'Unnamed: 1' :'location'}, inplace= True)
b.sort_values(by='date', axis=0, ascending=True)
b[['year','month','day']]= b['date'].str.split('-', expand=True)
b.drop(['date','day'],axis=1, inplace=True)
b['country']='eSwatini'
b.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\ACLED_LOC\eSwatini.csv')

# Countries

In [123]:
s = dd[dd['country']=='Algeria']

t=s.fatalities
t = t.astype(float)

s

     country  year month fatalities
2    Algeria  2000     1        257
3    Algeria  2000     2        233
4    Algeria  2000     3         80
5    Algeria  2000     4         50
6    Algeria  2000     5         79
..       ...   ...   ...        ...
267  Algeria  2022     3          3
268  Algeria  2022     4          1
269  Algeria  2022     5          0
270  Algeria  2022     6          0
271  Algeria  2022     7          1

[270 rows x 4 columns]

In [151]:
f = []
f.append(t[2])
f.append(t[3])
for i in range(4,272):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [145]:
az=[]
az.append(t[0:13])

for j in range(len(t)):
    a=t[j+13:j:-1]
    az.append(a)

In [188]:
an=[]
for i in range(2,14):
    an.append(t[i])


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

KeyError: 2

In [178]:
s['y'] = an

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2889785030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['y'] = an

In [180]:
s['3M'] = f
s['y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Algeria')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3826548529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3826548529.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['y'] = an

In [181]:
s = dd[dd['country']=='Angola']

t=s.fatalities
t = t.astype(float)
t

272    766.0
273    161.0
274     38.0
275    324.0
276    425.0
       ...
455      6.0
456     18.0
457      4.0
458      4.0
459      2.0
Name: fatalities, Length: 188, dtype: float64

In [182]:
f = []
f.append(t[272])
f.append(t[273])
for i in range(274,460):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [186]:
az=[]

for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)

    
an=[]
for i in range(272,285):
    an.append(t[i])
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [187]:
s['Y'] = an

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\287725840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [190]:
s['3M'] = f

s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Angola.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2162156044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f

In [191]:
s = dd[dd['country']=='Benin']

t=s.fatalities
t = t.astype(float)
t

460     1.0
461     0.0
462     4.0
463     0.0
464     0.0
       ...
570    14.0
571     9.0
572     9.0
573    12.0
574     4.0
Name: fatalities, Length: 115, dtype: float64

In [192]:
f = []
f.append(t[460])
f.append(t[461])
for i in range(462,575):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [197]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
    
an=[]
for i in range(460,473):
    an.append(t[i])    
    
    

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)
    
    
    
s['Y'] = an

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2716077007.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [198]:
s['3M'] = f

s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Benin.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2910880863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f

In [200]:
s = dd[dd['country']=='Botswana']

t=s.fatalities
t = t.astype(float)
t

575    0.0
576    0.0
577    0.0
578    0.0
579    0.0
      ...
632    1.0
633    0.0
634    2.0
635    0.0
636    0.0
Name: fatalities, Length: 62, dtype: float64

In [201]:
f = []
f.append(t[575])
f.append(t[576])
for i in range(577,637):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [202]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
    
    
    
an=[]

for i in range(575,588):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [204]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Botswana.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\595585971.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\595585971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [205]:
s = dd[dd['country']=='Burkina Faso']

t=s.fatalities
t = t.astype(float)
t

637      0.0
638      0.0
639      0.0
640      0.0
641      0.0
       ...
798    347.0
799    373.0
800    441.0
801    367.0
802    164.0
Name: fatalities, Length: 166, dtype: float64

In [206]:
f = []
f.append(t[637])
f.append(t[638])
for i in range(639,803):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [207]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]

for i in range(637,650):
    an.append(t[i])  
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [209]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Burkina Faso.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1919548105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1919548105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [210]:
s = dd[dd['country']=='Burundi']

t=s.fatalities
t = t.astype(float)
t

803      90.0
804     318.0
805      76.0
806     199.0
807     248.0
        ...
1057     10.0
1058     26.0
1059     13.0
1060     16.0
1061      3.0
Name: fatalities, Length: 259, dtype: float64

In [211]:
f = []
f.append(t[803])
f.append(t[804])
for i in range(805,1062):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [214]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(803,816):
    an.append(t[i])  
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [216]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Burundi.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\301654007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\301654007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [217]:
s = dd[dd['country']=='Cameroon']

t=s.fatalities
t = t.astype(float)
t

1062      0.0
1063      1.0
1064      0.0
1065     15.0
1066      0.0
        ...
1245     65.0
1246     81.0
1247     92.0
1248    168.0
1249     25.0
Name: fatalities, Length: 188, dtype: float64

In [218]:
f = []
f.append(t[1062])
f.append(t[1063])
for i in range(1064,1250):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [219]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]

for i in range(1062,1075):
    an.append(t[i])  
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [221]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Cameroon.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\457405165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\457405165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [222]:
s = dd[dd['country']=='Central African Republic']

t=s.fatalities
t = t.astype(float)
t

1278      0.0
1279      1.0
1280      0.0
1281      1.0
1282      0.0
        ...
1526    119.0
1527     89.0
1528     87.0
1529     60.0
1530     13.0
Name: fatalities, Length: 253, dtype: float64

In [223]:
f = []
f.append(t[1278])
f.append(t[1279])
for i in range(1280,1531):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [224]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(1278,1291):
    an.append(t[i])  
    

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [226]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Central_African_Republic.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\812827711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\812827711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [227]:
s = dd[dd['country']=='Chad']

t=s.fatalities
t = t.astype(float)
t

1531      0.0
1532      3.0
1533    197.0
1534     25.0
1535      0.0
        ...
1730     37.0
1731      3.0
1732     18.0
1733    310.0
1734     32.0
Name: fatalities, Length: 204, dtype: float64

In [228]:
f = []
f.append(t[1531])
f.append(t[1532])
for i in range(1533,1735):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [229]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(1531,1544):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [231]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Chad.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3819270901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3819270901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [232]:
s = dd[dd['country']=='Democratic Republic of Congo']

t=s.fatalities
t = t.astype(float)
t

1758    948.0
1759     10.0
1760    220.0
1761    228.0
1762      7.0
        ...
2024    660.0
2025    440.0
2026    430.0
2027    388.0
2028     81.0
Name: fatalities, Length: 271, dtype: float64

In [233]:
f = []
f.append(t[1758])
f.append(t[1759])
for i in range(1760,2029):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [234]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(1758,1771):
    an.append(t[i])  
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [236]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Democratic_Republic_of_Congo.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1655605782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1655605782.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [237]:
s = dd[dd['country']=='Djibouti']

t=s.fatalities
t = t.astype(float)
t

2029    0.0
2030    0.0
2031    0.0
2032    2.0
2033    0.0
       ...
2107    0.0
2108    0.0
2109    0.0
2110    0.0
2111    0.0
Name: fatalities, Length: 83, dtype: float64

In [238]:
f = []
f.append(t[2029])
f.append(t[2030])
for i in range(2031,2112):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [239]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2029,2042):
    an.append(t[i])  
    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [241]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Djibouti.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3598913580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3598913580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [242]:
s = dd[dd['country']=='Egypt']

t=s.fatalities
t = t.astype(float)
t

2112    29.0
2113     0.0
2114     0.0
2115     0.0
2116     0.0
        ...
2338    76.0
2339    37.0
2340    26.0
2341    26.0
2342     7.0
Name: fatalities, Length: 231, dtype: float64

In [243]:
f = []
f.append(t[2112])
f.append(t[2113])
for i in range(2114,2343):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [244]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2112,2125):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [246]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Egypt.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3536255111.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3536255111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [248]:
s = dd[dd['country']=='Equatorial Guinea']

t=s.fatalities
t = t.astype(float)

In [250]:
f = []
f.append(t[2343])
f.append(t[2344])
for i in range(2345,2391):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [253]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2343,2356):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [255]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Equatorial_Guinea.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2821442222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2821442222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [256]:
s = dd[dd['country']=='Eritrea']

t=s.fatalities
t = t.astype(float)
t

2391     20.0
2392    120.0
2393      0.0
2394     13.0
2395     40.0
        ...
2485      0.0
2486      0.0
2487      0.0
2488      0.0
2489      0.0
Name: fatalities, Length: 99, dtype: float64

In [257]:
f = []
f.append(t[2391])
f.append(t[2392])
for i in range(2393,2490):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [258]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2391,2404):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [260]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Eritrea.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\669634634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\669634634.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [261]:
s = dd[dd['country']=='Ethiopia']

t=s.fatalities
t = t.astype(float)
t

2490      5.0
2491      1.0
2492    212.0
2493     25.0
2494    357.0
        ...
2744    347.0
2745    402.0
2746    456.0
2747    993.0
2748    176.0
Name: fatalities, Length: 259, dtype: float64

In [262]:
f = []
f.append(t[2490])
f.append(t[2491])
for i in range(2492,2749):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [264]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2490,2503):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [266]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Ethiopia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\571433307.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\571433307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [267]:
s = dd[dd['country']=='Gabon']

t=s.fatalities
t = t.astype(float)
t

2749    0.0
2750    0.0
2751    0.0
2752    0.0
2753    0.0
       ...
2859    0.0
2860    0.0
2861    0.0
2862    0.0
2863    0.0
Name: fatalities, Length: 115, dtype: float64

In [268]:
f = []
f.append(t[2749])
f.append(t[2750])
for i in range(2751,2864):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [269]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2749,2762):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [271]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Gabon.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\271150776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\271150776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [272]:
s = dd[dd['country']=='Gambia']

t=s.fatalities
t = t.astype(float)
t

2864     1.0
2865     1.0
2866    15.0
2867     1.0
2868     0.0
        ...
2985     0.0
2986     0.0
2987     3.0
2988     0.0
2989     0.0
Name: fatalities, Length: 126, dtype: float64

In [273]:
f = []
f.append(t[2864])
f.append(t[2865])
for i in range(2866,2990):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [274]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2864,2877):
    an.append(t[i])  

    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [281]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Gambia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2759016046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2759016046.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [277]:
s = dd[dd['country']=='Ghana']

t=s.fatalities
t = t.astype(float)
t

2990     1.0
2991     0.0
2992     0.0
2993     1.0
2994    32.0
        ...
3167     6.0
3168    16.0
3169    10.0
3170     4.0
3171     1.0
Name: fatalities, Length: 182, dtype: float64

In [278]:
f = []
f.append(t[2990])
f.append(t[2991])
for i in range(2992,3172):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [279]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(2990,3003):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [283]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Ghana.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3564578237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3564578237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [284]:
s = dd[dd['country']=='Guinea']

t=s.fatalities
t = t.astype(float)
t

3172     31.0
3173      0.0
3174      6.0
3175      0.0
3176    413.0
        ...
3365      0.0
3366      3.0
3367      2.0
3368      4.0
3369      0.0
Name: fatalities, Length: 198, dtype: float64

In [285]:
f = []
f.append(t[3172])
f.append(t[3173])
for i in range(3174,3370):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [286]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(3172,3185):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [288]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Guinea.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3897657275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3897657275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [289]:
s = dd[dd['country']=='Guinea-Bissau']

t=s.fatalities
t = t.astype(float)
t

3370     0.0
3371     7.0
3372     0.0
3373     7.0
3374    13.0
        ...
3471     0.0
3472     0.0
3473     0.0
3474     1.0
3475     0.0
Name: fatalities, Length: 106, dtype: float64

In [290]:
f = []
f.append(t[3370])
f.append(t[3371])
for i in range(3372,3476):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [291]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(3372,3385):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [293]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Guinea-Bissau.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3351239487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3351239487.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [294]:
s = dd[dd['country']=='Ivory Coast']

t=s.fatalities
t = t.astype(float)
t

3476    0.0
3477    0.0
3478    0.0
3479    1.0
3480    2.0
       ...
3699    1.0
3700    2.0
3701    0.0
3702    9.0
3703    0.0
Name: fatalities, Length: 228, dtype: float64

In [295]:
f = []
f.append(t[3476])
f.append(t[3477])
for i in range(3478,3704):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [298]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(3476,3489):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [300]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Ivory Coast.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1202806293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1202806293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [301]:
s = dd[dd['country']=='Kenya']

t=s.fatalities
t = t.astype(float)
t

3704    31.0
3705    93.0
3706    22.0
3707    72.0
3708    37.0
        ...
3970    81.0
3971    42.0
3972    32.0
3973    45.0
3974    16.0
Name: fatalities, Length: 271, dtype: float64

In [302]:
f = []
f.append(t[3704])
f.append(t[3705])
for i in range(3706,3975):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [303]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(3704,3717):
    an.append(t[i])  

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [305]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Kenya.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1294321945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1294321945.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [306]:
s = dd[dd['country']=='Lesotho']

t=s.fatalities
t = t.astype(float)
t

3975    0.0
3976    0.0
3977    0.0
3978    0.0
3979    8.0
       ...
4045    2.0
4046    1.0
4047    2.0
4048    0.0
4049    6.0
Name: fatalities, Length: 75, dtype: float64

In [307]:
f = []
f.append(t[3975])
f.append(t[3976])
for i in range(3977,4050):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [308]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(3975,3988):
    an.append(t[i])  

    
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [310]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Lesotho.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1953490901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1953490901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [311]:
s = dd[dd['country']=='Liberia']

t=s.fatalities
t = t.astype(float)
t

4050     0.0
4051     0.0
4052     0.0
4053    42.0
4054     0.0
        ...
4269     0.0
4270     3.0
4271     0.0
4272     3.0
4273     1.0
Name: fatalities, Length: 224, dtype: float64

In [312]:
f = []
f.append(t[4050])
f.append(t[4051])
for i in range(4052,4274):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [313]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4050,4063):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [315]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Liberia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3506942006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3506942006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [316]:
s = dd[dd['country']=='Libya']

t=s.fatalities
t = t.astype(float)
t

4274     2.0
4275     0.0
4276    50.0
4277     0.0
4278     0.0
        ...
4445     3.0
4446    14.0
4447    16.0
4448     9.0
4449     2.0
Name: fatalities, Length: 176, dtype: float64

In [317]:
f = []
f.append(t[4274])
f.append(t[4275])
for i in range(4276,4450):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [318]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4274,4287):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [320]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Libya.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2745051692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2745051692.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [321]:
s = dd[dd['country']=='Madagascar']

t=s.fatalities
t = t.astype(float)
t

4450     1.0
4451     0.0
4452     0.0
4453     2.0
4454     1.0
        ...
4624    10.0
4625    16.0
4626    20.0
4627     3.0
4628     0.0
Name: fatalities, Length: 179, dtype: float64

In [322]:
f = []
f.append(t[4450])
f.append(t[4451])
for i in range(4452,4629):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [323]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4450,4463):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [325]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Madagascar.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3872419129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3872419129.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [326]:
s = dd[dd['country']=='Malawi']

t=s.fatalities
t = t.astype(float)
t

4629    0.0
4630    0.0
4631    0.0
4632    0.0
4633    0.0
       ...
4798    3.0
4799    7.0
4800    4.0
4801    4.0
4802    1.0
Name: fatalities, Length: 174, dtype: float64

In [327]:
f = []
f.append(t[4629])
f.append(t[4630])
for i in range(4631,4803):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [328]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4629,4642):
    an.append(t[i])  


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [330]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Malawi.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3072398061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3072398061.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [331]:
s = dd[dd['country']=='Mali']

t=s.fatalities
t = t.astype(float)
t

4803       3.0
4804       5.0
4805       0.0
4806       0.0
4807       5.0
         ...
4984    1134.0
4985     175.0
4986     338.0
4987     491.0
4988      14.0
Name: fatalities, Length: 186, dtype: float64

In [332]:
f = []
f.append(t[4803])
f.append(t[4804])
for i in range(4805,4989):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [333]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4803,4816):
    an.append(t[i])  
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [335]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Mali.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3719612407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3719612407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [336]:
s = dd[dd['country']=='Mauritania']

t=s.fatalities
t = t.astype(float)
t

4989    0.0
4990    0.0
4991    1.0
4992    0.0
4993    0.0
       ...
5163    0.0
5164    3.0
5165    0.0
5166    0.0
5167    0.0
Name: fatalities, Length: 179, dtype: float64

In [337]:
f = []
f.append(t[4989])
f.append(t[4990])
for i in range(4991,5168):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [338]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(4989,5002):
    an.append(t[i]) 

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [340]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Mauritania.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2499895588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2499895588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [341]:
s = dd[dd['country']=='Mauritius']

t=s.fatalities
t = t.astype(float)

In [342]:
f = []
f.append(t[5168])
f.append(t[5169])
for i in range(5170,5198):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [347]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5168,5181):
    an.append(t[i]) 

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [349]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Mauritius.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3342678616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3342678616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [350]:
s = dd[dd['country']=='Mayotte']

t=s.fatalities
t = t.astype(float)
t

5198    0.0
5199    0.0
5200    0.0
5201    0.0
5202    0.0
5203    0.0
5204    0.0
5205    0.0
5206    0.0
5207    0.0
5208    0.0
5209    0.0
5210    0.0
5211    0.0
5212    0.0
5213    0.0
5214    0.0
5215    1.0
5216    0.0
5217    0.0
5218    0.0
5219    1.0
5220    1.0
5221    0.0
5222    0.0
Name: fatalities, dtype: float64

In [351]:
f = []
f.append(t[5198])
f.append(t[5199])
for i in range(5200,5223):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [352]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5198,5211):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [354]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Mayotte.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1377345053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1377345053.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [355]:
s = dd[dd['country']=='Morocco']

t=s.fatalities
t = t.astype(float)
t

5223     0.0
5224     0.0
5225     0.0
5226     0.0
5227     0.0
        ...
5441     5.0
5442     0.0
5443     0.0
5444    25.0
5445     0.0
Name: fatalities, Length: 223, dtype: float64

In [356]:
f = []
f.append(t[5223])
f.append(t[5224])
for i in range(5225,5446):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [357]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5223,5236):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [359]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Morocco.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3223666889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3223666889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [360]:
s = dd[dd['country']=='Mozambique']

t=s.fatalities
t = t.astype(float)
t

5446      1.0
5447      0.0
5448      1.0
5449      0.0
5450      0.0
        ...
5649     94.0
5650     36.0
5651     74.0
5652    104.0
5653      2.0
Name: fatalities, Length: 208, dtype: float64

In [361]:
f = []
f.append(t[5446])
f.append(t[5447])
for i in range(5448,5654):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [362]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5446,5459):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [364]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Mozambique.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\566990766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\566990766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [365]:
s = dd[dd['country']=='Namibia']

t=s.fatalities
t = t.astype(float)
t

5654    30.0
5655    71.0
5656     9.0
5657    14.0
5658     2.0
        ...
5846     2.0
5847     0.0
5848     0.0
5849     1.0
5850     0.0
Name: fatalities, Length: 197, dtype: float64

In [366]:
f = []
f.append(t[5654])
f.append(t[5655])
for i in range(5656,5851):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [368]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5654,5667):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [370]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Namibia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\955692803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\955692803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [371]:
s = dd[dd['country']=='Niger']

t=s.fatalities
t = t.astype(float)
t

5851      0.0
5852      0.0
5853      0.0
5854      0.0
5855      0.0
        ...
6044     93.0
6045     99.0
6046    118.0
6047    127.0
6048     45.0
Name: fatalities, Length: 198, dtype: float64

In [372]:
f = []
f.append(t[5851])
f.append(t[5852])
for i in range(5853,6049):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [373]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(5851,5864):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [375]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Niger.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3229031258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3229031258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [376]:
s = dd[dd['country']=='Nigeria']

t=s.fatalities
t = t.astype(float)
t

6049      23.0
6050    2101.0
6051     124.0
6052      39.0
6053     459.0
         ...
6315    1528.0
6316     880.0
6317     676.0
6318     771.0
6319     183.0
Name: fatalities, Length: 271, dtype: float64

In [377]:
f = []
f.append(t[6049])
f.append(t[6050])
for i in range(6051,6320):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [378]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6049,6062):
    an.append(t[i])


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [380]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Nigeria.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3277155381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3277155381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [381]:
s = dd[dd['country']=='Republic of Congo']

t=s.fatalities
t = t.astype(float)
t

6320    80.0
6321     0.0
6322    16.0
6323     0.0
6324     0.0
        ...
6428     1.0
6429     1.0
6430     0.0
6431     0.0
6432     3.0
Name: fatalities, Length: 113, dtype: float64

In [382]:
f = []
f.append(t[6320])
f.append(t[6321])
for i in range(6322,6433):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [383]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6320,6333):
    an.append(t[i])


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [385]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Republic of Congo.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2942204952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2942204952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [386]:
s = dd[dd['country']=='Rwanda']

t=s.fatalities
t = t.astype(float)
t

6464      3.0
6465      5.0
6466      5.0
6467      4.0
6468    155.0
        ...
6618      0.0
6619      2.0
6620      0.0
6621      2.0
6622      3.0
Name: fatalities, Length: 159, dtype: float64

In [387]:
f = []
f.append(t[6464])
f.append(t[6465])
for i in range(6466,6623):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [388]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6464,6477):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [390]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Rwanda.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2414389249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2414389249.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [391]:
s = dd[dd['country']=='Senegal']

t=s.fatalities
t = t.astype(float)
s

      country  year month fatalities
6635  Senegal  2000     2         17
6636  Senegal  2000     3          2
6637  Senegal  2000     4         23
6638  Senegal  2000     5          2
6639  Senegal  2000     6          1
...       ...   ...   ...        ...
6859  Senegal  2022     3         11
6860  Senegal  2022     4          0
6861  Senegal  2022     5          1
6862  Senegal  2022     6          4
6863  Senegal  2022     7          0

[229 rows x 4 columns]

In [392]:
f = []
f.append(t[6635])
f.append(t[6636])
for i in range(6637,6864):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [395]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6635,6648):
    an.append(t[i])


for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [397]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Senegal.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\510018229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\510018229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [398]:
s = dd[dd['country']=='Seychelles']

t=s.fatalities
t = t.astype(float)
s

         country  year month fatalities
6864  Seychelles  2020     2          0
6865  Seychelles  2020     3          0
6866  Seychelles  2020     6          0
6867  Seychelles  2020     8          0
6868  Seychelles  2020    10          0
6869  Seychelles  2020    12          0
6870  Seychelles  2021     2          0

In [405]:
f = []
f.append(t[6864])
f.append(t[6865])
for i in range(6866,6871):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [402]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6864,6877):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

KeyError: 6871

In [359]:
s['3M'] = f
s['Y'] = an
#s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\Countries_ACLD\Seychelles.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_9296\2588150417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_9296\2588150417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [406]:
s = dd[dd['country']=='Sierra Leone']

t=s.fatalities
t = t.astype(float)
s

           country  year month fatalities
6871  Sierra Leone  2000     1          0
6872  Sierra Leone  2000     2          0
6873  Sierra Leone  2000     3          0
6874  Sierra Leone  2000     4          0
6875  Sierra Leone  2000     5          0
...            ...   ...   ...        ...
7042  Sierra Leone  2022     3          0
7043  Sierra Leone  2022     4          1
7044  Sierra Leone  2022     5          0
7045  Sierra Leone  2022     6          1
7046  Sierra Leone  2022     7          0

[176 rows x 4 columns]

In [407]:
f = []
f.append(t[6871])
f.append(t[6872])
for i in range(6873,7047):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [409]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(6871,6884):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [411]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Sierra Leone.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\757766501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\757766501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [412]:
s = dd[dd['country']=='Somalia']

t=s.fatalities
t = t.astype(float)
s

      country  year month fatalities
7047  Somalia  2000     1          5
7048  Somalia  2000     2          0
7049  Somalia  2000     3          1
7050  Somalia  2000     4          0
7051  Somalia  2000     5          1
...       ...   ...   ...        ...
7312  Somalia  2022     3        484
7313  Somalia  2022     4        178
7314  Somalia  2022     5        255
7315  Somalia  2022     6        312
7316  Somalia  2022     7         86

[270 rows x 4 columns]

In [414]:
f = []
f.append(t[7047])
f.append(t[7048])
for i in range(7049,7317):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [415]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(7047,7060):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [417]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Somalia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3137389007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3137389007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [418]:
s = dd[dd['country']=='South Africa']

t=s.fatalities
t = t.astype(float)
s

           country  year month fatalities
7317  South Africa  2000     1          7
7318  South Africa  2000     2          0
7319  South Africa  2000     3          0
7320  South Africa  2000     4          3
7321  South Africa  2000     5          2
...            ...   ...   ...        ...
7582  South Africa  2022     3         13
7583  South Africa  2022     4         27
7584  South Africa  2022     5         13
7585  South Africa  2022     6         32
7586  South Africa  2022     7          9

[270 rows x 4 columns]

In [419]:
f = []
f.append(t[7317])
f.append(t[7318])
for i in range(7319,7587):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [420]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(7317,7330):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [422]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\South Africa.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1087018996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\1087018996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [423]:
s = dd[dd['country']=='South Sudan']

t=s.fatalities
t = t.astype(float)
s

          country  year month fatalities
7587  South Sudan  2011     5          0
7588  South Sudan  2011     7          1
7589  South Sudan  2011     8       2216
7590  South Sudan  2011     9          3
7591  South Sudan  2011    10         95
...           ...   ...   ...        ...
7716  South Sudan  2022     3        181
7717  South Sudan  2022     4        195
7718  South Sudan  2022     5        143
7719  South Sudan  2022     6        130
7720  South Sudan  2022     7         61

[134 rows x 4 columns]

In [424]:
f = []
f.append(t[7587])
f.append(t[7588])
for i in range(7589,7721):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [427]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(7587,7600):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [429]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\South_Sudan.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2521023291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2521023291.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [430]:
s = dd[dd['country']=='Sudan']

t=s.fatalities
t = t.astype(float)
s

     country  year month fatalities
7721   Sudan  2000     1         28
7722   Sudan  2000     2         83
7723   Sudan  2000     3        186
7724   Sudan  2000     4        125
7725   Sudan  2000     5        152
...      ...   ...   ...        ...
7987   Sudan  2022     3        166
7988   Sudan  2022     4        311
7989   Sudan  2022     5         73
7990   Sudan  2022     6        249
7991   Sudan  2022     7         15

[271 rows x 4 columns]

In [432]:
f = []
f.append(t[7721])
f.append(t[7722])
for i in range(7723,7992):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [433]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(7721,7734):
    an.append(t[i])
for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [435]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Sudan.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3895450954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3895450954.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [436]:
s = dd[dd['country']=='Tanzania']

t=s.fatalities
t = t.astype(float)
s

       country  year month fatalities
7992  Tanzania  2000     1          0
7993  Tanzania  2000     2          5
7994  Tanzania  2000     9          0
7995  Tanzania  2000    10         26
7996  Tanzania  2000    11          1
...        ...   ...   ...        ...
8196  Tanzania  2022     2          4
8197  Tanzania  2022     3          1
8198  Tanzania  2022     4          1
8199  Tanzania  2022     5          3
8200  Tanzania  2022     6          2

[209 rows x 4 columns]

In [437]:
f = []
f.append(t[7992])
f.append(t[7993])
for i in range(7994,8201):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [438]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(7992,8005):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [440]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Tanzania.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2126589731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2126589731.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [441]:
s = dd[dd['country']=='Togo']

t=s.fatalities
t = t.astype(float)
s

     country  year month fatalities
8201    Togo  2000     3          1
8202    Togo  2001     2          0
8203    Togo  2001     6          0
8204    Togo  2001     8          0
8205    Togo  2002     2          0
...      ...   ...   ...        ...
8316    Togo  2021    10          1
8317    Togo  2021    11          0
8318    Togo  2022     4          0
8319    Togo  2022     5          8
8320    Togo  2022     6          1

[120 rows x 4 columns]

In [442]:
f = []
f.append(t[8201])
f.append(t[8202])
for i in range(8203,8321):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [443]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(8201,8214):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [445]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Togo.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\553007296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\553007296.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [446]:
s = dd[dd['country']=='Tunisia']

t=s.fatalities
t = t.astype(float)
s

      country  year month fatalities
8321  Tunisia  2000     2          0
8322  Tunisia  2000    10          0
8323  Tunisia  2001     2          0
8324  Tunisia  2001     3          0
8325  Tunisia  2002     4         22
...       ...   ...   ...        ...
8484  Tunisia  2022     3          0
8485  Tunisia  2022     4          0
8486  Tunisia  2022     5          0
8487  Tunisia  2022     6          0
8488  Tunisia  2022     7          0

[168 rows x 4 columns]

In [447]:
f = []
f.append(t[8321])
f.append(t[8322])
for i in range(8323,8489):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [448]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(8321,8334):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [450]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Tunisia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2608451956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2608451956.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [451]:
s = dd[dd['country']=='Uganda']

t=s.fatalities
t = t.astype(float)
s

     country  year month fatalities
8489  Uganda  2000     1        216
8490  Uganda  2000     2        109
8491  Uganda  2000     3         73
8492  Uganda  2000     4        132
8493  Uganda  2000     5         87
...      ...   ...   ...        ...
8754  Uganda  2022     3         67
8755  Uganda  2022     4         23
8756  Uganda  2022     5         25
8757  Uganda  2022     6         22
8758  Uganda  2022     7          5

[270 rows x 4 columns]

In [452]:
f = []
f.append(t[8489])
f.append(t[8490])
for i in range(8491,8759):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [453]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(8489,8502):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [455]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Uganda.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3553590539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\3553590539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [456]:
s = dd[dd['country']=='Zambia']

t=s.fatalities
t = t.astype(float)
s

     country  year month fatalities
8759  Zambia  2000     1          0
8760  Zambia  2000     3          0
8761  Zambia  2000     4          2
8762  Zambia  2000     5          0
8763  Zambia  2000     6          0
...      ...   ...   ...        ...
8966  Zambia  2022     2          1
8967  Zambia  2022     3          1
8968  Zambia  2022     4          2
8969  Zambia  2022     5          0
8970  Zambia  2022     6          1

[212 rows x 4 columns]

In [457]:
f = []
f.append(t[8759])
f.append(t[8760])
for i in range(8761,8971):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [458]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(8759,8772):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [460]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Zambia.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2821412965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2821412965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [461]:
s = dd[dd['country']=='Zimbabwe']

t=s.fatalities
t = t.astype(float)
s

       country  year month fatalities
8971  Zimbabwe  2000     1          0
8972  Zimbabwe  2000     2          1
8973  Zimbabwe  2000     3          2
8974  Zimbabwe  2000     4         12
8975  Zimbabwe  2000     5          3
...        ...   ...   ...        ...
9236  Zimbabwe  2022     3          2
9237  Zimbabwe  2022     4          4
9238  Zimbabwe  2022     5          0
9239  Zimbabwe  2022     6          2
9240  Zimbabwe  2022     7          0

[270 rows x 4 columns]

In [462]:
f = []
f.append(t[8971])
f.append(t[8972])
for i in range(8973,9241):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [463]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(8971,8984):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [465]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\Zimbabwe.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\64025673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\64025673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an

In [466]:
s = dd[dd['country']=='eSwatini']

t=s.fatalities
t = t.astype(float)
s

       country  year month fatalities
9241  eSwatini  2000     9          0
9242  eSwatini  2000    10          0
9243  eSwatini  2000    11          1
9244  eSwatini  2001    10          1
9245  eSwatini  2002     9          0
...        ...   ...   ...        ...
9354  eSwatini  2022     3          0
9355  eSwatini  2022     4          0
9356  eSwatini  2022     5          0
9357  eSwatini  2022     6          2
9358  eSwatini  2022     7          0

[118 rows x 4 columns]

In [467]:
f = []
f.append(t[9241])
f.append(t[9242])
for i in range(9243,9359):
   
    result= t[i] + t[i-1] + t[i-2]
    f.append( result)

In [468]:
az=[]
for j in range(len(t)):
    a=t.iloc[j+13:j:-1]
    az.append(a)
    
an=[]
for i in range(9241,9254):
    an.append(t[i])

for x in range(len(az)-13):
    b=sum(az[x])
    an.append(b)

In [470]:
s['3M'] = f
s['Y'] = an
s.to_csv(r'C:\Users\ASUS\Desktop\WHK\practici\adm_0_ACLED\eSwatini.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2619492711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['3M'] = f
C:\Users\ASUS\AppData\Local\Temp\ipykernel_16188\2619492711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s['Y'] = an