In [1]:
import pandas as pd
df = pd.read_csv('pend-gdis-1960-2018-disasterlocations.csv')

Country_list=['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi','Cameroon','Central African Republic','Chad',
            'Comoros','Congo','DR Congo (Zaire)','Djibouti','Eritrea','Ethiopia','Gambia','Ghana','Guinea',
            'Guinea-Bissau','Ivory Coast','Kenya','Kingdom of eSwatini (Swaziland)','Lesotho','Liberia','Libya','Madagascar (Malagasy)','Algeria',
            'Mauritania','Morocco','Mozambique','Namibia','Niger','Nigeria','Rwanda','Senegal','Sierra Leone',
            'Mali','Somalia','South Africa','South Sudan','Sudan','Tanzania','Togo','Tunisia','Uganda','Zambia','Zimbabwe (Rhodesia)']

In [5]:
dff = df[df.country.isin(Country_list)]
dff

,id,country,iso3,gwno,year,geo_id,geolocation,level,adm1,adm2,adm3,location,historical,hist_country,disastertype,disasterno,latitude,longitude
2,175,Angola,AGO,540.0,2001,760,Onjiva,3,Cunene,Cuanhama,Onjiva,Onjiva,0,NaN,flood,2001-0146,-17.093484,15.665758
3,187,Angola,AGO,540.0,2009,710,Evale,3,Cunene,Cuanhama,Evale,Evale,0,NaN,flood,2009-0092,-16.531533,15.773987
4,187,Angola,AGO,540.0,2009,749,Mupa,3,Cunene,Cuvelai,Mupa,Mupa,0,NaN,flood,2009-0092,-16.200065,15.844189
5,187,Angola,AGO,540.0,2009,761,Onjiva,3,Cunene,Cuanhama,Onjiva,Onjiva,0,NaN,flood,2009-0092,-17.093484,15.665758
6,189,Angola,AGO,540.0,2010,711,Evale,3,Cunene,Cuanhama,Evale,Evale,0,NaN,flood,2010-0105,-16.531533,15.773987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39941,05-821,South Sudan,SUD,625.0,2009,45246,Warab,2,Warap,Warab,NaN,Warab provinces,1,Sudan,drought,2009-9633,8.167473,28.696650
39942,05-821,South Sudan,SUD,625.0,2009,45247,Jungoli,1,Jungoli,NaN,NaN,Jonglei,1,Sudan,drought,2009-9633,7.378793,32.327646
39943,05-821,South Sudan,SUD,625.0,2009,45248,Upper Nile,1,Upper Nile,NaN,NaN,Upper Nile,1,Sudan,drought,2009-9633,9.888036,32.795899
39944,05-821,South Sudan,SUD,625.0,2009,45249,West Bahr-al-Ghazal,1,West Bahr-al-Ghazal,NaN,NaN,Northern Bahr Ghazal,1,Sudan,drought,2009-9633,8.248650,26.099769
39945,05-844,South Sudan,SUD,625.0,1990,45250,West Bahr-al-Ghazal,1,West Bahr-al-Ghazal,NaN,NaN,Bar El Ghazal Province,1,Sudan,drought,1990-9289,8.248650,26.099769

In [6]:
db = pd.read_csv('GED_monthly_agg.csv')

db.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'country', 'Unnamed: 3': 'adm_1', 'Unnamed: 4': 'adm_2'}, inplace= True)
db.drop([0,1], axis=0, inplace=True)
db

,year,month,country,adm_1,adm_2,best
2,1989,01,Angola,Benguela province,Ganda municipality,1
3,1989,01,Angola,Cabinda province,Belize municipality,0
4,1989,01,Angola,Cuanza Norte province,Samba Cajú municipality,0
5,1989,01,Angola,Huila province,Matala municipality,0
6,1989,01,Angola,Lunda Norte province,Cambulo municipality,0
...,...,...,...,...,...,...
20576,2021,12,Sudan,South Kordofan state,Rashad district,1
20577,2021,12,Sudan,West Darfur state,Jebel Moon district,25
20578,2021,12,Sudan,West Darfur state,Kereinik district,102
20579,2021,12,Sudan,West Darfur state,Sirba district,8
20580,2021,12,Tanzania,Mtwara region,Mtwara Rural district,11

In [24]:
db['adm_1'] = db['adm_1'].str.replace("province", "")
db['adm_1'] = db['adm_1'].str.replace("region", "")
db['adm_1'] = db['adm_1'].str.replace("district", "")
db['adm_1'] = db['adm_1'].str.replace("county", "")
db['adm_1'] = db['adm_1'].str.replace("municipality", "")
db['adm_1'] = db['adm_1'].str.replace("zone", "")
db['adm_1'] = db['adm_1'].str.replace("constituency", "")
db['adm_1'] = db['adm_1'].str.replace("department", "")
db['adm_1'] = db['adm_1'].str.replace("municipal", "")
db['adm_1'] = db['adm_1'].str.replace("administrative district", "")
db['adm_1'] = db['adm_1'].str.replace(" ", "")


db['adm_2'] = db['adm_2'].str.replace("province", "")
db['adm_2'] = db['adm_2'].str.replace("region", "")
db['adm_2'] = db['adm_2'].str.replace("district", "")
db['adm_2'] = db['adm_2'].str.replace("county", "")
db['adm_2'] = db['adm_2'].str.replace("municipality", "")
db['adm_2'] = db['adm_2'].str.replace("zone", "")
db['adm_2'] = db['adm_2'].str.replace("constituency", "")
db['adm_2'] = db['adm_2'].str.replace("department", "")
db['adm_2'] = db['adm_2'].str.replace("municipal", "")
db['adm_2'] = db['adm_2'].str.replace("administrative district", "")
db['adm_2'] = db['adm_2'].str.replace("commune", "")
db['adm_2'] = db['adm_2'].str.replace(" ", "")

In [25]:
dbg = db[db['country']=='Algeria']
dbg['year'] = dbg['year'].astype(int)
dbg = dbg[dbg['year']>= 2001]
dbg

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\1494571790.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

       year month  country     adm_1       adm_2 best
5126   2001    01  Algeria  AinDefla  AinSoltane    7
5127   2001    01  Algeria    Djelfa      Djelfa    4
5128   2001    01  Algeria  Laghouat    Laghouat    4
5129   2001    01  Algeria     Medea       Medea    7
5130   2001    01  Algeria  Relizane    Relizane    0
...     ...   ...      ...       ...         ...  ...
19026  2020    12  Algeria     Jijel     ElAncer    4
19138  2021    01  Algeria    Tipaza     Gouraya    9
19139  2021    01  Algeria   Tébessa      Cheria    5
19140  2021    01  Algeria   Tébessa      ElOgla    1
19630  2021    05  Algeria     Medea        Aziz    1

[1165 rows x 6 columns]

In [20]:
dfg = dff[dff['country']=='Algeria']
dfg.year.unique()

array([2001, 2003, 2007, 1988, 2005, 1960, 1965, 1966, 1974, 1980, 1981,
       1982, 1985, 1987, 1989, 1992, 1993, 1994, 1996, 1997, 1999, 2000,
       2002, 2004, 2006, 2008, 2009, 2011, 2012, 2014, 1967, 1969, 1973,
       2017, 2015, 2018], dtype=int64)

In [27]:
alg_adm=dbg.adm_2.unique()
alg_mat = dfg[dfg.adm2.isin(alg_adm)]

In [29]:
alg_mat.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Algeria.csv')

In [37]:
dbg = db[db['country']=='Burkina Faso']
dbg['year'] = dbg['year'].astype(int)

dbg = dbg[dbg['year']==2016]
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3993133329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [33]:
dfg = dff[dff['country']=='Burkina Faso']
dfg.year.unique()

array([2016, 2015, 2003, 2007, 2010, 1988, 1995, 1984, 2017, 1985, 2006,
       2009, 2013, 1999, 2008, 1969, 2001, 2011, 2014], dtype=int64)

In [42]:
bk_mat = dfg[dfg.adm2.isin(bk_adm)]
bk_mat = bk_mat[bk_mat['year']==2016]
bk_mat.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Burkina_Faso.csv')

In [59]:
dbg = db[db['country']=='Burundi']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\1090865973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [57]:
dfg = dff[dff['country']=='Burundi']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Burundi.csv')

In [62]:
dbg = db[db['country']=='Cameroon']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4207967889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [63]:
dfg = dff[dff['country']=='Cameroon']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [65]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Cameroon.csv')

In [75]:
dbg = db[db['country']=='Central African Republic']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3548261130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [76]:
dfg = dff[dff['country']=='Central African Republic']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [77]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Central_African_Republic.csv')

In [70]:
dbg = db[db['country']=='Chad']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4151622388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [71]:
dfg = dff[dff['country']=='Chad']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [74]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Chad.csv')

In [94]:
dbg = db[db['country']=='Ethiopia']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4158202044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [95]:
dfg = dff[dff['country']=='Ethiopia']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [97]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Ethiopia.csv')

In [116]:
dbg = db[db['country']=='Kenya']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\673886146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [117]:
dfg = dff[dff['country']=='Kenya']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [119]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Kenya.csv')

In [130]:
dbg = db[db['country']=='Mauritania']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4026392364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [131]:
dfg = dff[dff['country']=='Mauritania']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [133]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Mauritania.csv')

In [137]:
dbg = db[db['country']=='Mozambique']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3993607896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [138]:
dfg = dff[dff['country']=='Mozambique']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [140]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Mozambique.csv')

In [144]:
dbg = db[db['country']=='Niger']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\2082640467.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [145]:
dfg = dff[dff['country']=='Niger']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [147]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Niger.csv')

In [151]:
dbg = db[db['country']=='Rwanda']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4046182154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [152]:
dfg = dff[dff['country']=='Rwanda']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [154]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Rwanda.csv')

In [155]:
dbg = db[db['country']=='Senegal']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\221856530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [156]:
dfg = dff[dff['country']=='Senegal']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [158]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Senegal.csv')

In [165]:
dbg = db[db['country']=='Somalia']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\4100187909.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [166]:
dfg = dff[dff['country']=='Somalia']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [168]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Somalia.csv')

In [172]:
dbg = db[db['country']=='South Sudan']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3154968142.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [173]:
dfg = dff[dff['country']=='South Sudan']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [175]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\South_Sudan.csv')

In [176]:
dbg = db[db['country']=='Sudan']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3383186290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [177]:
dfg = dff[dff['country']=='Sudan']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [179]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Sudan.csv')

In [180]:
dbg = db[db['country']=='Tanzania']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\2475874254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [181]:
dfg = dff[dff['country']=='Tanzania']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [183]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Tanzania.csv')

In [190]:
dbg = db[db['country']=='Uganda']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\3393005481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [191]:
dfg = dff[dff['country']=='Uganda']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [193]:
dfg.to_csv(r'C:\Users\ASUS\Desktop\WHK\GED_Disaster\Uganda.csv')

In [197]:
dbg = db[db['country']=='Zimbabwe (Rhodesia)']
dbg['year'] = dbg['year'].astype(int)
year_list = dbg.year.unique()
bk_adm=dbg.adm_2.unique()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13884\2565825637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbg['year'] = dbg['year'].astype(int)

In [198]:
dfg = dff[dff['country']=='Zimbabwe (Rhodesia)']
dfg = dfg[dfg.year.isin(year_list)]
dfg=dfg[dfg.adm2.isin(bk_adm)]

In [199]:
dfg

Empty DataFrame
Columns: [id, country, iso3, gwno, year, geo_id, geolocation, level, adm1, adm2, adm3, location, historical, hist_country, disastertype, disasterno, latitude, longitude]
Index: []